@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
*{
	font-family: 'Poppins', sans-serif;
	color: #fff;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.btn {
	box-shadow: 0 0 0 #fff;
	transform: scale(1);
	transition: box-shadow .5s ease-in-out,transform .5s ease-in-out;

}
.btn:hover{
	box-shadow: 0 0 10px #fff; ;
	transform:scale(1.1);
}

