<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">

</head>
<body >

<div class="container py-2 vh-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card theBox">
                <div class="card-body p-5 text-center">

                    <div class="mb-md-4 mt-md-4 pb-3">

                        <h2 class="mb-2 ">LOGIN-DETAILS</h2>
                        <div th:if="${param.error}" class="alert alert-danger">Bad Credentials</div>
                        <div th:if="${param.logout}" class="alert alert-danger">Logged out succesfully</div>


                        <form th:action="@{/login}" method="post" class="form-outline form-white mb-4 need-validation">
                            <label class="form-label" for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control form-control-lg" required autofocus />

                            <label class="form-label mt-3" for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control form-control-lg" required/>



                            <button class="btn px-5 mt-3" type="submit">Login</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>